# Build-related
build
*.iso

# IDE related
.vscode

# Old code
old
older
oldest
include/kernel/kernel/memory_ideal

# Generated documentation
doxygen

# Note taking while implementing memory
device_notes.*

# Reference material, pdfs etc
ref_material
